<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        {% block stylesheets %}
            <link rel="stylesheet" href="js/lib/font-awesome/css/font-awesome.min.css"></script>
            <link rel="stylesheet" href="js/lib/bootstrap/dist/css/bootstrap.min.css"></script>
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="js/lib/react/react.min.js"></script>
            <script type="text/javascript" src="js/lib/react/react-dom.min.js"></script>
            <script type="text/javascript" src="js/lib/babel/browser.min.js"></script>
            <script type="text/javascript" src="js/lib/babel/browser.min.js"></script>
            <script type="text/javascript" src="js/lib/jquery/dist/jquery.min.js"></script>
            <script type="text/javascript" src="js/lib/bootstrap/dist/js/bootstrap.min.js"></script>

            <script type="text/babel" src="js/index.js"></script>


        {% endblock %}
        
    </body>
</html>
