{% extends 'base.html.twig' %}

{% block body %}
    
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                {% for item in menuItems|default("") %}
                <li><a href="#">{{item.title|capitalize}}</a></li>
                {% else %}
                    <li><a href="#">Empty menu list ?</a></li>
                {% endfor %}
                {% if not is_granted('ROLE_ADMIN') %}
                    
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><i class="fa fa-user" aria-hidden="true"></i> Login</a></li>
            </ul>
        </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
  


    <div id="wrapper">
        <div id="container">
            <!--div id="pagetitle" class="customizable"> parachute('pagetitle') }}
            </div>
            <p id="pagebody" class="customizable">  parachute('pagebody') }} </p-->
            <div id="app"></div>
            <div id="status">
                <p>
                  
                </p>
            </div>

            <div id="next">
                <h2>What's next?</h2>
               <p>

                </p>
            </div>

        </div>
    </div>
    <div id="dialog" title="Dialog Title"></div>

{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
